body {
    background:beige;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Arial, Helvetica, sans-serif
    text-align: ;left;
    text-shadow: 0cap;
    border: 0ch;
    display: block;
    color: green;
    

  }
  button {
    padding: 20*40;
    border-radius: 50;
    border: 0;
    background-color: antiquewhite;
    font-size: 15px;



  }
  
  