body {
    background:beige;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Arial, Helvetica, sans-serif
    text-align: ;left;
    text-shadow: 0cap;
    border: 0ch;
    display: block;
    color: green;
    

  }
  